<html>
<body>
<form method="post" action="/post/add">
  <label for="title">Title:</label>
  <input type="text" name="title" id="title"></input>
  <label for="content">Text:</label>
  <textarea name="content"></textarea>
  <input type="submit"></input>
</form>
</body>
</html>
