{% set helpers = import_('helpers') %}
{% set project_name = request.values['project_name'] %}
{% set item = request.kalamar.open('page', {'id':(request.values['page'] or 'home'), 'project': project_name}) %}
  

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta content="text/html; charset=utf-8" http-equiv="content-type" />
  <title>{{ title }} - {{ item.title }}</title>
  <link href="/__static/css/{{ project_name }}/style.css" rel="stylesheet" type="text/css" title="{{ project_name|title }}" media="screen"/>
  <link href="/__static/css/{{ project_name }}/img/icon.png" rel="shortcut icon" />
  <link href="/css/webkit.css" media="screen" type="text/css" rel="stylesheet" />
  <link href="/css/gecko.css" media="screen" type="text/css" rel="stylesheet" />
  <link href="/css/presto.css" media="screen" type="text/css" rel="stylesheet" />
</head>

<body>
  <header>
    <h1><a href="/">{{ item.title }}</a></h1>
  </header>

  <nav>
    <ul>
{% for element in menu %}
      <li><a href="{{ element.link }}">{{ element.name }}</a></li>
{% endfor %}    
    </ul>
  </nav>

{% block content %}{% endblock content %}

  <footer>
    <ul>
      <li><a href="http://www.kozea.fr/">Created by Kozea</a></li>
      <li><a href="http://www.kozea.fr/">Powered by Site'n'Co</a></li>
      <li><a href="http://www.kozea.fr/">Decorated by C'n'Safe</a></li>
      <li><a href="http://validator.w3.org/check?uri=referer">Optimized for Standards</a></li>
    </ul>
  </footer>
</body>

</html>
