{% extends "_layout.jinja2" %}
{% set project_name = request.values['project_name'] %}

{% set helpers = import_('helpers') %}
{% set news = request.kalamar.search('news', {'project': project_name}) %}

{% block content %}
{% for datetime, items in news|groupby('datetime')|sort(True) %}
<section>
<h2>{{ helpers.pretty_datetime(datetime) }}</h2>
{% for item in items %}
{{ helpers.rest_to_article(item, level=4) }}
{% endfor %}
</section>
{% endfor %}
{% endblock content %}