/*
  ---------------
  - Import font -
  ---------------
*/

@font-face {
  font-family: "foo";
  src: url('foo.ttf');
}

/*
  ---------------
  - Html / body -
  ---------------
*/

html {
  background-color: #202020;
}

body {
  background: url(img/background-dyko.png) repeat-x top left,
              url(img/bg-tentacule-bottom.png) no-repeat bottom right;
  border: none;
  border-radius: 0;
  font-family: sans-serif;
  font-size: 0.9em;
  opacity: 1;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

/*
  ----------
  - Common - 
  ----------
*/
a {
  padding: 0;
}

a:hover,
a:focus {
  background: none;
}

h2 {
  font-family: "foo";
  margin: 0;
}

h2, h3, h4, h5, h6 {
  text-shadow: 0 0 0 transparent;
}

pre {
  background: white;
  border-left: solid 30px;
  color: #4788be;
  font-size: 0.9em;
  margin: 1em 8%;
  padding-left: 20px;
  text-shadow: 0 0 0 transparent;
}

/*
  ----------
  - Header - 
  ----------
*/

header {
  display: block;
  min-height: 200px;
  padding: 0 0 0 290px;
  margin: 0 7%;
}

h1 {
  background-color: #202020;
  margin: 0 3% 0 0;
  height: 80px;
}

h1 a {
  border-radius: 0;
  display: block;
  height: 198px;
  margin-top: -80px;
  visibility: hidden;
}

h1 a:before {
  content: url(img/logo-dyko.png);
  position: absolute;
  top: 5px;
  left: 7%;
  visibility: visible;
}

h1 a:hover,
h1 a:focus {
  background: none;
  box-shadow: 0 0 0 transparent;
}

h1:before {
  content:  url(img/h1-before.png);
  margin: 0 0 0 -66px;
}

h1:after {
  content: url(img/h1-after.png);
  float: right;
  margin: -207px -66px 0 0;
}


/*
  --------------
  - Navigation -
  --------------
*/
nav {
  display: inline-block;
  float: left;
  font-family: "foo";
  margin: -10px 0 0 0;
  width: 30%;
}

nav ul {
  background-color: transparent;
  box-shadow: 0 0 0 transparent;
  text-align: left;
  text-transform: none;
  margin: 0 0 0 25%;
  pdding: 0;
}

nav li {
  border-bottom: 1px solid #363636;
  border-top: 1px solid #101010;
  color: #76b4e8;
  display: block;
  font-size: 3em;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
  padding: 0 0 0 5px;
}

nav li:first-child {
  border-top: none;
}

nav li:last-child {
  border-bottom: none;
}

nav li a {
  color: #808080;
  font-size: 70%;
  padding: 0;
  text-shadow: 0 0 0 transparent;
}

nav li a:hover,
nav li a:focus {
  background: transparent;
  color: #76b4e8;
}

nav:after {
  display: block;
  content: url(img/tentacle-nav.png);
  height: 306px;
  width: 326px;
  margin: -18% 0 0 0;
}


/*
  - ---------
  - Section - 
  -----------
*/
section {
  background-color: #f5f5f5;
  display: block;
  margin-left: 30%;
  padding: 20px 0;
  vertical-align: top;
  width: 60%;
}

section:first-of-type {
  background: #f5f5f5 url(img/background-section.png) repeat-x top left;
  margin-top: -51px;
}


/* - article - */
article h2 {
  color: #4788be;
  counter-reset: part;
  font-size: 3em;
  line-height: 1em;
  box-reflect: below -7px -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent),
                                           color-stop(0.5, transparent),
                                           to(rgba(255, 255, 255, 0.6)));
}

section article section {
  background-color: transparent;
  background: url(img/separation.png) no-repeat bottom right;
  margin: 0 0 0 4%;
  padding: 0 0 35px 0;
  width: 96%;
}

section article section:first-of-type {
  background: url(img/separation.png) no-repeat bottom right;
  margin-top: 0;
}

.section h3 {
  background-color: #e1e1e1;
  border-radius: 8px;
  display: inline-block;
  font-weight: normal;
  padding: 6px 35px 6px 20px;
  border-top: 14px solid #000;
}

.section h3:before {
  counter-increment: part;
  content: "Part " counter(part);
  display: block;
  font-size: 0.7em;
  font-weight: bold;
  color:#FFFFFF;
  margin-top: -20px;
  margin-left: -8px;
}


/*
  - --------
  - Footer - 
  ----------
*/
footer {
  background: #000000;
  border-radius: 0 0 15px 15px;
  font: 0.9em;
  display: inline-block;
  line-height: 3.5em;
  margin: 0 0 75px 0;
  width: 60%;
} 

footer ul {
  margin: 0;
}

footer li a {
  color: #4788be;
  border-radius: 0;
  text-transform: none;
}

footer li a:hover,
footer li a:focus {
  background-color: transparent;
  box-shadow: 0 0 0 transparent;
  color: #4788be;
}

footer li:after {
  content: " | ";
}