/*
  -------------
  - Font Face -
  -------------
*/

@font-face {
  font-family: "foo";
  src: url('foo.ttf');
}

@font-face {
  font-family: "inconsolata";
  src: url('inconsolata.otf');
}

/*
  ---------------
  - HTML / Body -
  ---------------
*/

html {
  background: url(img/background-dyko.png) repeat-x top left,
              url(img/bg-tentacule-bottom.png) no-repeat bottom right;
  background-color: #202020;
  padding: 0 2em 3em 235px;
}

body {
  border: none;
  border-radius: 0 0 20px 20px;
  font-family: sans-serif;
  margin: 0;
  opacity: 1;
  padding: 0;
  text-align: left;
  width: 100%;
}


/*
  ----------
  - Common -
  ----------
*/

h2 {
  box-reflect: below -0.3em gradient(linear, 0% 0%, 0% 100%, from(transparent),
                                     color-stop(0.5, transparent),
                                     to(rgba(255, 255, 255, 0.6)));
  color: #4788be;
  font-family: "foo";
  font-size: 3em;
  line-height: 1em;
  margin: 0 0 0 -0.5em;
}

h2, h3, h4, h5, h6 {
  text-shadow: 0 0 0 transparent;
}

pre {
  background: white;
  border-left: solid 0.5em;
  border-radius: 0 1em 1em 0;
  color: #4788be;
  font-family: "inconsolata";
  margin: 1em 1.5em;
  overflow: hidden;
  padding-left: 20px;
  text-shadow: 0 0 0 transparent;
}

.highlight pre {
  border-color: purple;
}

pre.script-output {
  border-color: orange;
}


/*
  ----------
  - Header -
  ----------
*/

header {
  background: url(img/background-dyko.png) repeat-x top left;
  display: block;
  margin-bottom: -51px;
  min-height: 200px;
  padding: 0 0 0 290px;
}

h1 {
  background-color: #202020;
  height: 80px;
  margin: 0 30px 0 -250px;
  padding: 0;
}

h1 a {
  border-radius: 0;
  visibility: hidden;
}

h1 a:before {
  content: url(img/logo-dyko.png);
  position: absolute;
  top: 5px;
  left: 0;
  visibility: visible;
}

h1 a:hover,
h1 a:focus {
  background: none;
  box-shadow: 0 0 0 transparent;
}

h1:before {
  content: url(img/h1-before.png);
  margin: 0 0 0 -60px;
}

h1:after {
  content: url(img/h1-after.png);
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}


/*
  --------------
  - Navigation -
  --------------
*/

nav {
  background: url(img/tentacle-nav.png) no-repeat bottom left;
  display: block;
  float: left;
  font-family: "foo";
  margin: 3em -300px 0 -235px;
  padding: 50px 300px 200px 0;
  width: 235px;
}

nav ul {
  background-color: transparent;
  box-shadow: 0 0 0 transparent;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: none;
}

nav li {
  border-bottom: 1px solid #363636;
  border-top: 1px solid #101010;
  color: #76b4e8;
  display: block;
  font-size: 2em;
  line-height: 1.4em;
  margin: 0;
  padding: 0 0.5em;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
}

nav li:first-child {
  border-top: none;
}

nav li:last-child {
  border-bottom: none;
}

nav li a {
  color: #808080;
  display: block;
  font-size: 70%;
  padding: 0;
  text-shadow: 0 0 0 transparent;
}

nav li a:hover,
nav li a:focus {
  background: transparent;
  color: #76b4e8;
}


/*
  -----------
  - Section -
  -----------
*/

section {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}

body > section {
  background: #f5f5f5 url(img/background-section.png) repeat-x top left;
  padding: 2em 4em;
}

h3 {
  background-color: #dee7fa;
  border-radius: 0.5em;
  box-shadow: 0 0 3px #aab inset;
  display: inline-block;
  font-size: 110%;
  font-variant: small-caps;
  font-weight: bold;
  margin-left: -0.5em;
  padding: 0.5em 1em;
}

section article > section {
  background: none;
  padding: 0 0 1.5em 0;
}

section article > section:after {
  background: url(img/separation.png) no-repeat top right;
  content: "";
  display: block;
  height: 40px;
  margin: 0 -4em -40px -2px;
}

.contents {
  box-shadow: 0 0 5px #ddd inset,
              3px 3px 1px #eee;
}

.contents a {
  padding: 0.3em;
}

.contents a:hover,
.contents a:focus {
  background-color: #e3e3ef;
}


/*
  ----------
  - Footer -
  ----------
*/

footer {
  background: black;
  border-radius: 0 0 15px 15px;
  font-size: 0.8em;
  display: block;
  line-height: 3.5em;
  position: relative;
  text-align: center;
} 

footer ul {
  display: inline-block;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

footer ul li {
  margin: 0;
  padding: 0;
}

footer li a {
  color: #4788be;
  text-transform: none;
}

footer li a:hover,
footer li a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  color: #4788be;
}

footer li:after {
  content: " â—";
  margin: 0 0.25em;
}

footer li:last-child:after {
  content: "";
}


/*
  ---------
  - Media -
  ---------
*/

@media
handheld and (max-width: 480px),
screen and (max-device-width: 480px),
screen and (max-width: 600px) {

html {
  background: #202020;
  padding: 0 0 0 140px;
}

body {
  background: #202020;
}

header {
  background: #202020;
  height: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

h1:before,
h1:after {
  display: none;
}

h1 {
  height: 0;
  width: 0;
}

h1 a:before {
  color: white;
  content: "DYKO";
  font: 2em "foo";
  left: 0.1em;
  line-height: 1em;
  position: fixed;
  z-index: 1;
}

h2 {
  font-size: 2em;
}

h2, h3, h4, h5, h6 {
  margin-left: 0;
}

nav {
  margin: 0 0 -20px -140px;
  padding: 5em 0 100px 0;
  position: fixed;
  width: 140px;
}

nav li {
  font-size: 2em;
}

body > section {
  margin-top: 0;
  padding: 1em;
}

section article section:after {
  display: none;
}

footer {
  background: transparent;
  line-height: 1.2em;
  margin: 0 0 0 -140px;
}

}