<html>
<body>
<h1>My Blog</h1>
{% for blog_item in kalamar.search('blog_entry') %}
  <h2><a href='/post/{{blog_item['id']}}'>{{ blog_item['title'] }}</a></h2>
  <section> {{blog_item['content'] }}</section>
{% endfor %}
</body>
</html>
